@charset "UTF-8";
@import url(layout.css);

/*Vademecums*/
.section-vademecums{
	width: 90%;
	margin: 0 auto;
	display: block;
	max-width: 948px;
	color: #494949;
	font-family: 'Open Sans Bold';
}
.section-vademecums > .vademecum{
	display: inline-block;
	width: 30%;
	margin: 0 1.4%;
}
.section-vademecums > .vademecum > img{
	width: 100%;
	display: block;
}
.section-vademecums > .vademecum > .text_vademecum{
	padding: 1vw;
	border: 1px solid #d3d3d3;
	border-top: none;
	font-size: 1.3vw;
	position: relative;
}
.text_vademecum > img{
	display: inline-block;
	width: 3vw;
	position: absolute;
	left: 10vw;
	top: 0.7vw;
	max-width: 33px;
}
@media (min-width: 768px) and (max-width: 1024px){
	.section-vademecums > .vademecum > .text_vademecum{
		font-size: 1.7vw;
	}
	.text_vademecum > img{
		left: 12vw;
	}
}
@media (min-width: 1025px) and (max-width: 1380px){
	.section-vademecums > .vademecum > .text_vademecum{
		font-size: 1.3vw;
	}
	.text_vademecum > img{
		left: 10vw;
	}
}
@media (min-width: 1381px){
	.section-vademecums > .vademecum > .text_vademecum{
		font-size: 0.9vw;
	}
	.text_vademecum > img{
		left: 7vw;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.section-vademecums > .vademecum{
		width: 100%;
		margin: 4% 1.4%;
	}
	.section-vademecums > .vademecum > .text_vademecum{
		padding: 3vw;
		font-size: 5vw;
	}
	.text_vademecum > img{
		width: 7vw;
		left: 35vw;
		top: 3vw;
		max-width: none;
	}
}
/*Noticias de Interes*/
.section_news, .section_actualidad, .section_ovid{
	width: 90%;
	margin: 0 auto;
	display: block;
	max-width: 948px;
	font-family: 'Open sans';
}
.section_news > h3, .section_actualidad > h3, .section_ovid > h3{
	font-size: 31px;
	margin-bottom: 0;
	display: block;
}
.section_news > img, .section_actualidad > img, .section_ovid > img{
	display: block;
	margin-bottom: 2vw;
}
.section_news > .noticias_interes{
	width: 49.8%;
	display: inline-block;
	vertical-align: top;
}
.section_news > .noticias_interes > img{
	width: 33%;
	display: inline-block;
}
.section_news > .noticias_interes > .text_noticias{
	width: 58%;
	display: inline-block;
	padding: 0 4%;
	vertical-align: top;
}
.section_news > .noticias_interes > #segunda-interes{
	float: right;
}
.section_news > .noticias_interes > .text_noticias > h4{
	margin: 0;
	color: #197ed6;
	font-size: 19px;
}
.section_news > .noticias_interes > .text_noticias > p:nth-child(2){
	color: #969696;
	margin: 3% 0 0 0;
	font-size: 12px;
}
.section_news > .noticias_interes > .text_noticias > p:nth-child(3){
	margin: 6% 0 0 0;
	font-size: 13px;
}
@media (min-width: 768px) and (max-width: 1044px){
	.section_news > h3, .section_actualidad > h3, .section_ovid > h3{
		font-size: 25px;
	}
	.section_news > .noticias_interes > .text_noticias > h4{
		font-size: 1.5vw;
	}
	.section_news > .noticias_interes > .text_noticias > p:nth-child(2){
		margin: 0;
		font-size: 1.4vw;
	}
	.section_news > .noticias_interes > .text_noticias > p:nth-child(3){
		margin: 0;
		font-size: 1.5vw;
	}
	.section_news > .noticias_interes{
		width: 49%;
	}
	.section_news > .noticias_interes > .text_noticias{
		width: 57%;
		padding: 0 2%;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.section_news > h3, .section_actualidad > h3, .section_ovid > h3{
		font-size: 9vw;
	}
	.section_news > img, .section_actualidad > img, .section_ovid > img{
		width: 100%;
	}
	.section_news > .noticias_interes{
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	.section_news > .noticias_interes > img{
		width: auto;
		max-width: 80%;
		margin: 0 auto;
		display: block;
	}
	.section_news > .noticias_interes > .text_noticias{
		width: 100%;
		padding: 4%;
	}
}
/*Noticias de actualidad*/
.section_actualidad > #container_actualidad{
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.section_actualidad > #container_actualidad > #tira_actualidad{
	width: 3792px;
	position: relative;
	text-align: left;
	z-index: 10;
	right: 0;
}
.section_actualidad > #container_actualidad .grupo_noticias{
	display: inline-block;
}
.section_actualidad > #container_actualidad > img{
	display: inline-block;
	top: 34%;
	position: absolute;
	cursor: pointer;
	z-index: 15;
}
.section_actualidad > #container_actualidad > img:first-child{
	left: 0;
}
.section_actualidad > #container_actualidad > img:last-child{
	right: 0;
}
.section_actualidad > #container_actualidad .noticias_actualidad{
	display: inline-block;
	text-align: center;
	/*width: 24%;*/
	width: 12vw;
}
.section_actualidad > #container_actualidad .noticias_actualidad > img{
	width: 80%;
}
.section_actualidad > #container_actualidad .noticias_actualidad > h4{
	margin: 0;
	font-family: 'Open sans Bold';
	text-transform: uppercase;
	color: #000;
	font-size: 0.8vw;
}
.section_actualidad > #container_actualidad .noticias_actualidad > p{
	margin: 0;
	color: #6c6c6c;
	font-family: 'Open Sans Light';
	font-size: 0.7vw;
}
@media (min-width: 768px) and (max-width: 1044px){
	.section_actualidad > #container_actualidad .noticias_actualidad > h4{
		font-size: 1.5vw;
	}
	.section_actualidad > #container_actualidad .noticias_actualidad > p{
		font-size: 1.4vw;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.section_actualidad > #container_actualidad .noticias_actualidad > h4{
		font-size: 6vw;
	}
	.section_actualidad > #container_actualidad .noticias_actualidad > p{
		font-size: 5vw;
	}
}
/*Seccion Ovid*/
.section_ovid > h3 > span{
	color: #7c0709;
}
.section_ovid > .libros_ovid{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 24%;
}
.section_ovid > .libros_ovid > img{
	height: 12vw;
}
.section_ovid > .libros_ovid > h4{
	text-transform: uppercase;
	text-align: center;
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 0.8vw;
}
.section_ovid > #flecha_derecha_ovid, .section_ovid > #flecha_izquierda_ovid{
	display: none;
}
@media (min-width: 768px) and (max-width: 1044px){
	.section_ovid > .libros_ovid > h4{
		font-size: 1.5vw;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.section_ovid{
		text-align: center;
		position: relative;
	}
	.section_ovid > h3{
		text-align: left;
	}
	.section_ovid > #flecha_derecha_ovid, .section_ovid > #flecha_izquierda_ovid{
		display: inline-block;
		top: 44%;
		position: absolute;
		cursor: pointer;
		z-index: 15;
		width: auto;
	}
	.section_ovid > #flecha_derecha_ovid{
		right: 0;
	}
	.section_ovid > #flecha_izquierda_ovid{
		left: 0;
	}
	.section_ovid > .libros_ovid{
		width: 80%;
		margin: 0 auto;
		display: none;
	}
	.section_ovid > .libros_ovid > img{
		width: 80%;
		height: auto;
	}
	.section_ovid > .libros_ovid > h4{
		font-size: 6vw;
		margin-top: 0;
	}
}