@charset "UTF-8";
@import url(development.css);

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
}
@font-face {
    font-family: 'Helvetica_Neue';
    src: url("../fonts/helveticaneue-light-webfont.ttf");
}
@font-face{
	font-family: 'Myriad Pro';
	src: url("../fonts/Myriad Pro Regular.ttf");
}
/*General*/

body{
	margin: 0;
	font-family: 'Open Sans';
	font-size: 14px;
	overflow-x: hidden;
}

/*Header*/

header{
	width: 90%;
	max-width: 1180px;
	/*margin: 1.5% auto;
	position: relative;*/
	
}

/*.register{
	display: inline-block;
	position: absolute;
	float: none;
	
}*/
	
.register a{
	padding-left: 1vw;
	padding-right: 1vw;
	color: #89878b;
	text-decoration: none;
}
/*.register a:first-child, .register a:nth-child(2){*/
.register > a{
	border-right: #8c8c8c solid 1px;
}
.register a:nth-child(3){
	padding-right: 5vw;
}
@media (min-width: 768px){
	header{
		position: fixed;
		background-color: #fff;
		margin: 0;
		padding: 1.5% 0;
		top: 0;
		z-index: 1001;
	}
	.register{
		position: relative;
		float: right;
		display: block;
	}
}
@media (max-width: 767px){
	header{
		margin: 1.5% auto;
		position: relative;
	}
}
#topPais{
	position:relative;
	display:inline-block;
}

#topPais p{
	float:left;
	margin-top:0px;
	margin-bottom:0px;
}
#imgPaisTop{
	position:absolute;
	margin-top: -3px;
	margin-left: 5px;
}

#ulPaises,.subPaises{
    display: inline-block;
    list-style:none;
}


#defaultPais a {
	padding-left: 1vw;
	color: #89878b;
	text-decoration: none;
}
@media (max-width: 768px){
	#defaultPais{
		padding-right: 0;
	}
}
#defaultPais, #ulPaises,.subPaises, .subPaises li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

#defaultPais{

	padding-right:3.5vw;
} 

.subPaises{
	display:none;
	/*background: url(../images/bk_menuP.png) top left repeat;*/
	position: absolute;
	z-index:1001;
}

.subPaises li,.section_menu .subPaises li{
	width:190px;
	padding-right:10px;
    border-bottom: 1px solid #d8dadb;
    cursor:pointer;
    background: url(../images/arrow_left.png) 97% 11px no-repeat;
    background-color: rgba(247,247,247,0.9);
}
.subPaises li.active,.section_menu .subPaises li.active {
	  background: url(../images/arrow_leftActivo.png) 97% 11px no-repeat;
	  background-color: #e8e9ec;
}
.subPaises li.active a, .section_menu .subPaises li.active a {
	  font-weight:600; 
	  color:#084483;
}

.subPaises a, .section_menu .subPaises a {
	border-right:none;
	color: #89878b;
}

.asubPais{
	display:inline-block;
	position:relative;
	width:100%;
}
.imgPais{
	float:left;
	margin-top: 6px;
    margin-right: 10px;
}
.asubPais p{
	float:left;
	margin-top:9px;
	margin-bottom:9px;
}
.imgFlecha{
	float:right;
	margin-top: 10px;
	margin-right:10px;
}

.subPaises li:hover ,.section_menu .subPaises li:hover{
	background: url(../images/arrow_leftActivo.png) 97% 11px no-repeat;
}

.subPaises li:hover a p, .section_menu .subPaises li:hover a p{
	font-weight:600; 
	color:#084483;
}

.subPaises li:hover, .section_menu .subPaises li:hover  {
	background-color:#e8e9ec;
}



/*.register a img{
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}*/

.register div{
	display: inline-block;
}
.register span{
	padding-right: 15px;
	color: #3ca8dd;
}
.search{
	/*display: inline-block;*/
	/*float: left;*/
}
.search input{
	border: solid 1px #e0e0e0;
	float: left;
	z-index: 10;
	width: 21vw;
	max-width: 220px;
	/*height: 28px;*/
	height: 32px;
	margin-left: 0px;
	color: #43494D;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-appearance: none;
	/*box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.search img{
	width:auto;
}
.sessionButton {
	border-radius:9px;
	border: 1px solid #348dce;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 90px;
	height: 37px;/*margin-top: 20px;*/
	background: #21a1da;
	/* Old browsers */
	background: linear-gradient(bottom, #21a1da 0%, #348dce 100%);
	background: -o-linear-gradient(bottom, #21a1da 0%, #348dce 100%);
	background: -moz-linear-gradient(bottom, #21a1da 0%, #348dce 100%);
	background: -webkit-linear-gradient(bottom, #21a1da 0%, #348dce 100%);
	background: -ms-linear-gradient(bottom, #21a1da 0%, #348dce 100%);
	cursor: pointer;
	color: white;
	font-weight: normal;
	text-shadow: 0 -1px 0 #336895;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
.sessionButton:hover{
	background: #348dce; /* Old browsers */
	background: linear-gradient(bottom, #348dce 0%, #21a1da 100%);
	background: -o-linear-gradient(bottom, #348dce 0%, #21a1da 100%);
	background: -moz-linear-gradient(bottom, #348dce8 0%, #21a1da 100%);
	background: -webkit-linear-gradient(bottom, #348dce 0%, #21a1da 100%);
	background: -ms-linear-gradient(bottom, #348dce 0%, #21a1da 100%);
}
.registerButton{
	border-radius: 9px;
	box-shadow: inset 0 1px 0 #ebb730;
	width: 84px;
	height: 37px;
	margin-left: 5px;
	background: #fbd568;
	background: -moz-linear-gradient(#fbd568, #ffb347);
	background: -ms-linear-gradient(#fbd568, #ffb347);
	background: -o-linear-gradient(#fbd568, #ffb347);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
	background: -webkit-linear-gradient(#fbd568, #ffb347);
	background: linear-gradient(#fbd568, #ffb347);
	border: 1px solid #f4ab4c;
	text-shadow: 0 1px rgba(255,255,255,0.3);
	cursor: pointer;
	color: #996319;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 11px;
}
#popUpInicio{
	display: none;
	position: absolute;
	width: 38%;
	/*top: 40px;*/
	top: 59px;
	left: 54%;
	background-color: #fff;
	text-align: center;
	z-index: 1001;
}
#popUpInicio > select, #popUpInicio > input, #popUpInicio > div, #seleccionDoc, #datoId{
	border: 1px solid #d9d9d9;
	color: #494949/*#aea9a9*/;
	margin-top: 2%;
	padding: 1.5%;
	font-family: 'Open Sans'/*'Open Sans Bold'*/;
	font-weight:400;
	width: 83%;
	box-sizing: border-box;
	background-color: #fff;
}
#popUpInicio > select:first-child{
	margin-top: 2vw;
}
#popUpInicio > .boton_ingresar{
	text-align: center;
	border: 0;
	color: #fff;
	background-color: #5ca8e7;
	margin-left: auto;
	margin-right: auto;
}
#popUpInicio > .check_recordar{
	border: 0;
	font-family: 'Open Sans';
	color: #84b6e4;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	position: relative;
	display: block;
}
#popUpInicio > .links_inicio{
	border: 0;
	font-family: 'Open Sans';
	color: #84b6e4;
	padding: 0;
}
#popUpInicio > .links_inicio > a{
	text-decoration: none;
	color: #a5a5a5;
	font-family: 'Open sans';
	padding-left: 3%;
}
#popUpInicio > .links_inicio > a:first-child{
	padding-right: 3%;
	padding-left: 0%;
	border-right: 1px solid #b9b9b9;
}
#popUpInicio > div:last-child{
	margin-bottom: 5%;
	font-size: 12px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.header-userName{
	font-family: 'Helvetica_Neue';
	color: #3b87c5;
	text-transform: uppercase;
	font-size: 18px;
	vertical-align: middle;
	margin-right: 2vw;
	max-width: 300px;
}
#close-popup{
	float: right;
	margin-right: 10px;
	border: none !important;
}
#close-popup img{
	width: 12px;
	float: right;
	cursor: pointer;
}
@media (min-width: 768px){
	.search{
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.register{
		font-size: 13px;
	}
	#popUpInicio > select, #popUpInicio > input, #popUpInicio > div {
		font-size: 11px;
	}
	.header-userName{
		font-size: 13px;
		margin-right: 0vw;
		max-width: 100px;
		text-align: center;
	}
	
}
@media (min-width: 320px) and (max-width: 767px){
	.search{
		display: block;
	}
	.search input{
		width: 96%;
		max-width: none;
	}
	.search a{
		position: absolute;
		right: 0;
	}
	.register{
		display: block;
		position: relative;
		/*padding-top: 42px;*/
		padding-top: 15px;
		text-align: center;
		clear: both;
	}
	.register div{
		margin-left: 10px;
	}
	.header-userName{
		font-size: 14px;
		margin-right: 0vw;
	}
	#popUpInicio{
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
	}
	
	.section_menu .subPaises{
		background: url(../images/bk_menuP.png) top left repeat;
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
	}
	
	.section_menu .subPaises a {
		height:42px;
	    line-height: 18px;
	}
	
	.section_menu .subPaises li{
		width:100%;
		
	}
	.section_menu .imgPais{
		top: 0.7vw;
	}
	
	
}
@media (min-width: 320px) and (max-width: 538px){
	.register a img{
		margin-top: -2px;
	}
	.register div{
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

/****Menu superior*****/
.section_menu{
	background-color: #257ac0;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(61,61,61,1);
	-moz-box-shadow: 0px 3px 10px -3px rgba(61,61,61,1);
	box-shadow: 0px 3px 10px -3px rgba(61,61,61,1);
	z-index: 1000;
	/*position:relative;*/
	height:36px;
	position: fixed;
	width: 100%;
	left: 0px;
}
@media (max-width: 767px){
	.section_menu{
		position: relative;
	}
}
.section_menu ul{
	list-style: none;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	padding: 0;
}
.section_menu a {
	list-style: none;
	color: #fff;
	width: 96%;
	margin: 0 7.8px;
	text-align: center;
	font-size: 14px;
	padding: 0;
    text-decoration: none;
    cursor: pointer;
}
.firstLevel > li{
	display: inline-block;
	padding: 8.5px 0;
	position: relative;
}
.section_menu li:hover{
	background-color: #68aad7;
}
.section_menu img{
	position: relative;
	top: 0.15vw;
	padding-right: 3px;
	max-height: 15px;
}

.menu_fixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.menu_fixed2{
	position: fixed;
	margin: 1.5% auto;
 	left: 0;
 	right: 0;
	top: 0;
	width: 100%;
}
.secondLevel{
	display: none;
	position: absolute;
	top: 36px;
	/*background-color: #1E68A5;*/
	background-color: #4295d8;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	width: -o-max-content;
	width: -ms-max-content;
	max-width: 250px;
}
.secondLevel li{
	padding: 9.5px 8px;
	text-align:left;
	text-indent: -7px;
	position: relative; 
}
.thirdLevel{
	display: none;
	position: absolute;
	top: 0;
	/*background-color: #215D8E;*/
	background-color: #4295d8;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	width: -o-max-content;
	width: -ms-max-content;
	max-width: 250px;
	border-left: 1px transparent;
}
#home{
	display: inline-block;
}
#menu{
	display: none;
}
@media (min-width: 767px){
	.firstLevel > li:hover .secondLevel, .secondLevel > li:hover .thirdLevel{
		display: block;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.section_menu{
		height: 31px;
	}
	.section_menu a{
		font-size: 11px;
		margin: 0 5px;
	}
	.section_menu > ul > li{
		/*padding: 6px 3.3px;*/
		padding: 6px 0;
	}
	.section_menu > ul > li img{
		max-height: 12px;
	}
	.secondLevel{
		top: 31px;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	li  #home{
		display: none;
	}
	li  #menu{
		display: inline-block;
		padding-right: 15px;
	}
	.section_menu ul{
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	.section_menu > .firstLevel > li{
		display: block;
		/*padding: 9.5px 20px;*/
		/*padding: 0 20px;*/
		padding: 0;
		position: relative;
		display: none;
		background-color: #4295d8;
		border-bottom: 1px solid #6aabe0;
	}
	.section_menu > .firstLevel > li:first-child{
		font-style: italic;
		font-weight: bold;
		font-size: 16px;
		display: block;
		background-color: #247ac0;
		border: none;
	}
	.section_menu > .firstLevel > li::after{
		content: '';
		position: absolute;
		top: 16px;
		right: 16px;
		width: 0px;
		height: 0px;
		border: 4px solid transparent;
		border-left: 4px solid #fff;
	}
	.section_menu > .firstLevel > li:first-child::after{
		display: none;
	}
	.secondLevel{
		position: relative;
		top: 0;
		max-width: none;
		width: 100%;
		background-color: #2482CF;
	}
	.secondLevel > li{
		padding: 0;
	}
	.secondLevel > li:not(:last-child){
		border-bottom: 1px solid #1C73B2;
	}
	.section_menu a{
		height: 36px;
		display: block;
		text-align: left;
		line-height: 38px;
		padding-left: 17px;
		margin: 0;
	}
}
@media (min-width: 768px){
	.secondLevel li:first-of-type{
		display: none;
	}
}

/****Presentation*****/
.presentation > img{
	width: 90%;
	margin: 0 auto;
	max-width: 948px;
}
#bannerNormal{
	display: block;
}
#bannerMovil{
	display: none;
}
.presentation > h1{
	color: #2494db;
	font-weight: normal;
	font-size: 31px;
	width: 58%;
	text-align: center;
	margin: 3vw auto 0.3vw auto;
	max-width: 800px;
}
.presentation > h2{
	font-weight: normal;
	font-size: 24px;
	width: 64%;
	text-align: center;
	margin: 0 auto 3vw auto;
	color: #494949;
	max-width: 863px;
	font-family: 'Open sans light';
}
.bienvenida > h1{
	color: #2494db;
	font-weight: normal;
	font-size: 31px;
	width: 58%;
	text-align: center;
	margin: 3vw auto 0.3vw auto;
	max-width: 800px;
}
.bienvenida > h2{
	font-weight: normal;
	font-size: 24px;
	width: 64%;
	text-align: center;
	margin: 0 auto 3vw auto;
	color: #494949;
	max-width: 863px;
	font-family: 'Open sans light';
}


@media (min-width: 768px) and (max-width: 1024px){
	.presentation > h1{
		font-size: 24px;
		width: 80%;
	}
	.presentation > h2{
		font-size: 15px;
		width: 73%;
	}
	.bienvenida > h1{
		font-size: 24px;
		width: 80%;
	}
	.bienvenida > h2{
		font-size: 15px;
		width: 73%;
	}
	
}
@media (min-width: 320px) and (max-width: 767px){
	#bannerNormal{
		display: none;
        width: 100%;
	}
	#bannerMovil{
		display: block;
		width: 100%;
	}
	.presentation > h1{
		font-size: 9vw;
		width: 90%;;
	}
	.presentation > h2{
		width: 85%;
	}
	.bienvenida > h1{
		font-size: 9vw;
		width: 90%;;
	}
	.bienvenida > h2{
		width: 85%;
	}
}
/*****Footer******/
footer{
	background: #2563b0 url("../images/footer.jpg") no-repeat;
	background-size: auto 197px;
	background-position: right bottom;
	height: 197px;
	position: relative;
}
footer > div{
	padding-left: 4vw;
	padding-bottom: 0.4vw;
}
.footer_menu{
	color: #fff;
	padding-top: 2.6vw;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer ul > li{
	display: inline;
	list-style-type: none;
	padding-left: 1vw;
	padding-right: 1vw;
}
.footer_menu > ul > li{
	border-right: 1px solid white;
}
.footer_menu a{
	color: #fff;
	text-decoration: none;
}
.footer_somos a{
	color: #6a9fd1;
	text-decoration: none;
}
.footer_act a{
	color: #75a9d7;
	text-decoration: none;
}
.footer_copy a{
	color: #75a9d7;
	text-decoration: none;
}
footer ul > li:last-child{
	border: none;
}
.footer_somos{
	color: #6a9fd1;
}
.footer_somos ul > li{
	border-right: 1px solid #6a9fd1;
}
.footer_act{
	color: #75a9d7;
	font-family: 'Open Sans Bold';
}
.footer_copy{
	color: #7fa7d0;
	position: absolute;
	bottom: 0px;
	width: 80vw;
}
.footer_copy > ul > li:first-child{
	border-right: 1px solid #7fa7d0;
}
.footer_copy > ul > li:last-child{
	margin-left: 15vw;
}
@media (min-width: 1045px) and (max-width: 1230px){
	footer{
		font-size: 13px;
	}
	footer > .footer_menu {
		padding-top: 5vw;
	}
	.footer_copy > ul > li:last-child {
		margin-left: 5vw;
	}
}
@media (min-width: 768px) and (max-width: 1044px){
	footer{
		font-size: 12px;
	}
	.footer_menu {
		padding-top: 7vw;
	}
	.footer_copy ul > li:last-child {
		margin-left: 5vw;
		display: block;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	footer{
		line-height: 6vw;
		background: url("../images/footer-movil.jpg") no-repeat;
		background-size: auto;
		height: 281px;
		background-position: right bottom;
	}
	.footer_copy{
		position: absolute;
		bottom: 45px;
		font-size: 10px;
		width: 60vw;
	}
}
@media (min-width: 610px) and (max-width: 767px){
	footer{
		font-size: 13px;
		line-height: 5vw;
	}
}
@media (min-width: 420px) and (max-width: 767px){
	.footer_copy ul > li:last-child{
		margin-left: 6vw;
	}
}
@media (min-width: 320px) and (max-width: 420px){
	footer{
		line-height: 8vw;
	}
	.footer_copy ul > li:last-child{
		margin-left: 4vw;
	}
}

.coverPopup{
	background-color: rgba(81,78,78,0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2000;
	display: none;
}

.popDialog{
	background-color:transparent;
	border:none;
	display:none;
	padding:0px;
	margin:auto;
	left:0;
	right:0;
	bottom:0;
	top:0;
	height:300px;
	width:712px;
	position:absolute;
	z-index: 2001;
}
.cerrarPopUp{
	float:right;
	cursor:pointer;
}
.divTilPopUp{
	background-color:transparent;
	background-image:url(../images/titulo-fondoPopUp.png);
	background-repeat:no-repeat;
	text-align:center;
	margin:0px;
	margin-top:28px;
	width:685px;
}
.contenidoPop{
	background-color:white;
	margin-top:0px;
	text-align:center;
	width:685px;
}
.tituloPop{
	color:white;
	margin-bottom:0px;
	padding-bottom:0px;
	padding-top:10px;
	margin-left:30px;
	font-family:'Open Sans Semibold';
	font-size:24px;
	font-weight:500;
	width:630px;
}
.textoPop{
	margin-bottom:0px;
}
.panelTexto {
  /*float: left;
  padding-left:180px;*/
  padding-top:40px;
  margin-bottom:10px;
  text-align:center;
  height:20px;
  width:685px;
  font-family:'Open Sans';
  font-size:17px;
  
}
.confirmaBtn{
		background-color:#75a6e7;
		color:white;
		font-family:'Open Sans ExtraBold';
		font-size:15px;
		margin-top:30px;
		margin-left:100px;
		width:155px;
		height:40px;
		border:none;
		cursor:pointer;
	}
.imgTq {
  float:right;
  
}
/********Ingreso********/
#popCertifica{
	height:90px;
}
#subTitulo{
	color:#d4e1ef;
	font-family:'Open Sans Light';
	font-size:18px;
	font-weight:100;
	margin-bottom:0px;
	margin-top:1px;
}
#certificaContenido{
	height:168px;
}
/*******Notificacion***/
#popNotifica{
	height:60px;
}
#notificaContenido{
	height:190px;
}
/******Registro******/
#popUpRegistro{
	width:600px;
}
#popRecupera{
	width:580px;
	height:60px;
}
#panelTextoRecupera{
	width:600px;
}
#recuperaContenido{
	width:580px;
	height: 255px;
}
/*#seleccionDoc{
	font-family:'Myriad Pro';
	border:gray;
	background-color:#e9e9e9;
	width:450px;
	height:18px;
	
}*/
/*#datoId{
	font-family:'Myriad Pro';
	color:#e9e9e9;
	border-color:#e9e9e9;
	margin-top:10px;
	width:450px;
	height:35px;
}*/
#recuperaInfo{
	margin-top:110px;
	margin-left:80px;
}
#imgTqRecu{
	margin-top:90px;
}

@media (min-width: 540px) and (max-width: 767px){
	.popDialog{
		width:500px;
	}
	.cerrarPopUp{
		width:40px;
		height:41px;
	}
	.divTilPopUp{
		margin-top:20px;
		width:480px;
	}
	.titCertifica {
	  padding-top: 20px;
	  font-size: 17px;
	  margin-left: 21px;
	  width: 460px;
	}
	.titNotifica {
	  margin-left: 32px;
	  width: 460px;
	}
	.titRecupera {
	  margin-left: 64px;
	  width: 460px;
	}
	
	#subTitulo{
		font-size:14px;
		margin-top:0px;
	}
	.contenidoPop{
		height:110px;
		width:480px;
	}
	.textoPop {
	  font-size: 14px;
	}
	.panelTexto{
		font-size:14px;
		width:480px;
	}
	.imgTq {
	  width: 70px;
	  height: 70px;
	}
	.confirmaBtn{
	  font-size: 12px;
	  width: 133px;
	  height: 34px;
	  margin-left: 70px;
	  margin-top: 20px;
		
	}
}
@media (min-width: 320px) and (max-width: 546px){
	.popDialog{
	    height: 220px;
		width:300px;
	}
	.cerrarPopUp{
		width:25px;
		height:26px;
	}
	.divTilPopUp{
		margin-top:12px;
		width:290px;
	}
	.textoPop {
	  font-size: 14px;
	}
	.panelTexto{
		font-size:12px;
		width:290px;
	}
	.titCertifica {
	  padding-top:8px;
	  font-size: 15px;
	  margin-left: 20px;
	  width: 240px;
	}
	.titNotifica{
	  padding-top: 12px;
	  font-size: 19px;
	}
	.titRecupera{
	  padding-top: 12px;
	  font-size: 19px;
	}
	#subTitulo{
		font-size:12px;
	}
	.contenidoPop{
		height:40px;
		width:290px;
	}
	.imgTq {
	  margin-top: 50px;
	  margin-left: 0px;
	  width: 38px;
	  height: 38px;
	}
	.confirmaBtn {
	  font-size: 9px;
	  width: 75px;
	  height: 20px;
	  margin-left: 70px;
	  margin-top:15px;
	}
}	

@media (min-width: 548px) and (max-width: 640px){
	.titRecupera {
		  padding-top: 20px;
		  font-size: 20px;
		  margin-left: 40px;
		}
}
@media (min-width: 320px) and (max-width: 640px){
	#popUpRegistro{
		width:300px;
	}
	#popRecupera{
		width:290px;
		height:60px;
	}
	#popRecupera>.tituloPop{
		width:290px;
		
	}
	#panelTextoRecupera{
		width:300px;
	}
	#recuperaContenido{
		width:290px;
		height: 158px;
	}
	#seleccionDoc{
		width:250px;
		position: relative;
		top: -20px;
	}
	#datoId{
		margin-top:6px;
		width:250px;
		position: relative;
		top: -20px;
	}
	#recuperaInfo{
		margin-top:40px;
		margin-left:40px;
	}
	#imgTqRecu{
		margin-top: 50px;
		  margin-left: 0px;
		  width: 38px;
		  height: 38px;
	}
}
